body {  
  background: linear-gradient(180deg,  
  #000000 20%, 
  #000014 50%,
  #020617 70%, 
  #14162C 100%  
);
background-attachment: fixed;
    display: grid;
    place-items: center;
  }
#title{
 color: white;
 font-size: 2.5em;
 font-family: 'Linotype', serif;
 white-space:nowrap;
 padding: 2vw 5vh;
 text-shadow: 4px 4px 0 #999,  
 8px 8px 0 #666;
 display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    text-align: center;
    position: relative
}
 
@media (max-width: 768px) {
  .title-container {
      justify-content: flex-start; /* Moves title up */
      padding-top: 20vh; /* Pushes it slightly above center */
  }
}
*{
margin:0;
padding:0;
}
model-viewer{
  width: 98vw;
  height: 97vh;
  position: relative;
  top: -23vh;
  left: 0vw;
  background-color: #040a1100;
}
@font-face {
  font-family: 'Linotype';
  src: url(Linotype\ Didot\ Bold.otf);
}
#quote{
color: white;
font-size: small;
margin-top: 2px; /* Adjust spacing between title and quote */
    text-align: center;


}